In [11]:
import pandas as pd
import numpy as np 
import datetime
from datetime import time

In [6]:
df = pd.read_csv('./Day2.csv')

In [8]:
df_filtered

              Date      Time       Code  Dvalue    Price   FinalDate
0       06-01-2021   8:32:44  Code3455C     1.0  254.950   06-Jan-21
1       06-01-2021   8:32:44  Code3460C     1.0  250.850   06-Jan-21
2       06-01-2021   8:32:44  Code3465C     1.0  245.350   06-Jan-21
3       06-01-2021   8:32:44  Code3470C     1.0  240.850   06-Jan-21
4       06-01-2021   8:32:44  Code3475C     1.0  235.400   06-Jan-21
...            ...       ...        ...     ...      ...         ...
236455  06-01-2021  11:21:43  Code3605P     0.0    0.075  06-01-2021
236456  06-01-2021  11:21:43  Code3610P     0.0    0.075  06-01-2021
236457  06-01-2021  11:21:43  Code3615P     0.0    0.075  06-01-2021
236458  06-01-2021  11:21:43  Code3620P     0.0    0.075  06-01-2021
236459  06-01-2021  11:21:43  Code3625P     0.0    0.075  06-01-2021

[57064 rows x 6 columns]

In [25]:
ip_date = "04-01-2022"
day, month, year = map(int, ip_date.split('-'))
ip_date = datetime.date(year, month, day)
ip_start_time = "08:32:00"
h, m, s = map(int, ip_start_time.split(':'))
ip_start_time = time(hour=h, minute=m, second=0)
ip_end_time = "11:04:00"
# h, m, s = map(int, ip_end_time.split(':'))
# ip_end_time = time(hour=h, minute=m, second=s)
dvalue_code1 = 0.92
dvalue_code2 = 0.97
dvalue_code3 = 1
dvalue_code4 = 0.89
dvalue_code5 = 0.8
dvalue_code6 = 0.95
d_values = [dvalue_code1, dvalue_code2, dvalue_code3,
            dvalue_code4, dvalue_code5, dvalue_code6]

In [44]:
tolerance = 0.1
# mrnList = []

df_date = df[df['Time'].between(f'{h}:{m}:00', f'{h}:{m}:59')]
list(df_date.columns)

['Date', 'Time', 'Code', 'Dvalue', 'Price', 'FinalDate']

In [56]:
# df_filtered = df_date[df_date['Dvalue'].isin(d_values)]
df_dval_filtered = pd.DataFrame([], columns=list(df_date.columns))
type(df_dval_filtered)

pandas.core.frame.DataFrame

In [78]:
for d_value in d_values:
    df_dvals = df_date[df_date['Dvalue'] == d_value]
    if len(df_dvals) == 0:
        range = [d_value - tolerance, d_value + tolerance]
        df_dvals = df_date[df_date['Dvalue'].isin(range)]
    df_dval_filtered = pd.concat([df_dval_filtered, df_dvals], axis=0, ignore_index=True)
df_dval_filtered.head()

         Date     Time       Code Dvalue   Price  FinalDate
0  06-01-2021  8:32:45  Code3580C   0.92  134.95  08-Jan-21
1  06-01-2021  8:32:45  Code3610C   0.92  104.45  08-Jan-21
2  06-01-2021  8:32:45  Code3580C   0.92  134.95  08-Jan-21
3  06-01-2021  8:32:45  Code3610C   0.92  104.45  08-Jan-21
4  06-01-2021  8:32:44  Code3625C   0.97    87.3  06-Jan-21