In [1]:
import pyodbc
import datetime
from datetime import time
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
ip_date = "04-01-2022"
day, month, year = map(int, ip_date.split('-'))
ip_date = datetime.date(year, month, day)
ip_start_time = "08:32:00"
h, m, s = map(int, ip_start_time.split(':'))
ip_start_time = time(hour=h, minute=m, second=s)
ip_end_time = "11:04:00"
h, m, s = map(int, ip_end_time.split(':'))
ip_end_time = time(hour=h, minute=m, second=s)
dvalue_code1 = 0.92
dvalue_code2 = 0.97
dvalue_code3 = 1
dvalue_code4 = 0.89
dvalue_code5 = 0.8
dvalue_code6 = 0.95

In [3]:
connection = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=GOVIND\MSSQLSERVER01;DATABASE=backtest;Trusted_Connection=yes;')
query = """select * from dbo.Day2 where Time between '8:30:00' and '9:32:00';"""
df = pd.read_sql(query, connection)

In [5]:
df.head()

         Date      Time       Code  Dvalue       Price   FinalDate
0  2021-06-01  08:32:44  Code3455C     1.0  254.949997  2021-01-06
1  2021-06-01  08:32:44  Code3460C     1.0  250.850006  2021-01-06
2  2021-06-01  08:32:44  Code3465C     1.0  245.350006  2021-01-06
3  2021-06-01  08:32:44  Code3470C     1.0  240.850006  2021-01-06
4  2021-06-01  08:32:44  Code3475C     1.0  235.399994  2021-01-06